@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


html{
    -webkit-tap-highlight-color: transparent;
}

body{
   background-color: #FAFAFA;
}

/*banner*/

.page2{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.banner{
    margin-top: 69px;
    margin-bottom: 42px;
    height: 227px;
    display: flex;
    object-fit: cover;
    width: 100vw;

    /*Header quizz question page*/
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center; 
    font-weight: 400;
    font-size: 3.6vw;
    line-height: 46px;
    position: relative;
}

.bannerText{
    position: absolute;
    z-index: 2;
    margin: auto;
}

.bannerImg{
    height: 100%;
    width: 100vw;
    object-fit: cover;
    z-index: 0;
    filter: brightness(60%);
}

/*all questions zone*/

.questionZone{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-width: 320px;
}

/*question body*/

.questionArea{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.questionHeader{
   background-color: #434CA0;
   color: #FFFFFF;
   font-weight: 700;
   font-size: 23px;
   height: 60px;
   width: 100%;
   font-size: 1.1vw;

   display: flex;
   justify-content: center;
   align-items: center;
}

.questionHeader::-webkit-scrollbar{
    display: none;
}

.question{
    padding: 20px;
}

[class^='questionContainer'], [class*='questionContainer']{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.questionBody{
    width: 48%;
}

.answer{
    width: 100%;
    height: 350px;
}

.imgAnswer{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.answerText{
    width: 100%;
    font-weight: 700;
    font-size: 1.2vw;
    line-height: 23px;
    margin-bottom: 6px;
    overflow-wrap: break-word;
}



/*questions selected*/

.unselectedImg{
    opacity: 0.3;
}

.selectedText{
    color: #009C22;
}

.wrongText{  /*aparece ao fim do quizz para mostrar oque estava errado*/
    color: #FF4B4B;
}

/*Final quizz*/

.finalquizzArea{
    margin-top: 44px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 57px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    width: 50%;
    height: 60%;
}

.finalquizzHeader{
    background-color: #EC362D;
    margin-bottom: 18px;
    color: white;
    font-weight: 700;
    font-size: 1.2vw;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    overflow: auto;
}

.finalquizzHeader::-webkit-scrollbar{
    display: none;
}

.finaltittlequiz{
    padding: 20px;
}

.finalBody{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: 100%; 
}

.imgfinalquizzArea{
    width: 150%;
    height: 100%;
}

.imgFinalQuizz{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.finalquizzText{
    font-weight: 700;
    font-size: 19px;
    text-align: start;
    font-size: 1vw;
}

/*buttons*/

.resetQuizz{
    cursor: pointer;
    background: #EC362D;
    height: 42px;
    width: 15vw;
    color: #FFF5F4;
    border-radius: 15px;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 25px;
    margin-bottom: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.backtoHome{
    cursor: pointer;
    color: #818181;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 85px;
}


@media (max-width:1100px){
    .questionArea{
        width: 90%;
        height: 100%;
    }

    .questionHeader{
        background-color: #ae59d6;
        height: 60px;
        width: 100%;
        font-size: 2.5vw;
     }
     
    [class^='questionContainer'], [class*='questionContainer']{
         width: 100%;
     }
     
     .questionBody{
         width: 48%;
     }
     
     .answer{
         width: 100%;
         height: 200px;
     }
     
     .answerText{
         width: 100%;
         font-size: 2.1vw;
     }
     
     .finalquizzArea{
         width: inherit;
         height: inherit;
         margin-top: 0;
     }
     
     .finalquizzHeader{
        background-color: green;
         font-weight: 700;
         font-size: 2.5vw;
         height: 50px;
         width: 100%;
     }
     
     .finalBody{
         width: 100%; 
     }
     
     .imgfinalquizzArea{
         width: 150%;
         height: 100%;
     }
     
     .finalquizzText{
         font-size: 2.2vw;
     }
     
     .resetQuizz{
         font-size: 2.4vw;
         height: 40px;
         width: 25vw;
     }
     
     .backtoHome{
         font-size: 2.2vw;
     }
}

/*to not show something to the user*/
.none{
    display: none;
}